flet
opencv-python
numpy
pillow
# pandas (Solo para scripts batch offline)
# tensorflow (Eliminado para móvil)
ai-edge-litert
# tensorflow-cpu; platform_system != 'Linux' # Opcional para dev local
# scikit-learn (Solo para entrenamiento)
# matplotlib (Solo para entrenamiento)
